<div class="container">
    <div class="row searchFilter">
        <div class="col-sm-12">
            <div class="input-group">
                <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="label-icon">Category</span> <span class="caret">&nbsp;</span></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="category_filters">
                            <li>
                                <input type="radio" name="radios" id="Landscape" value="Landscape"><label class="category-label" for="Landscape">Landscape</label>
                            </li>
                            <li>
                                <input type="radio" name="radios" id="Portraits" value="Portraits"><label class="category-label" for="Portraits">Portraits</label>
                            </li>
                            <li>
                                <input type="radio" name="radios" id="Nature" value="Nature"><label class="category-label" for="Nature">Nature</label>
                            </li>
                        </ul>
                    </div>
                    <button id="searchBtn" type="button" class="btn btn-secondary btn-search"><span class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Search</span></button>
                </div>
            </div>
        </div>
    </div>
</div>