<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../wwwroot/css/sign-up.css"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Sign Up Page </title>
    </head>
    <body>
        <center> <h1>Photovoir Sign Up Form</h1></center>
        <form class = "sign-up">
            <label>First Name: </label>
                <input type="text" placeholder="First Name">
            <label>Laat Name: </label>
                <input type="text" placeholder="Last Name">
            <label>Email: </label>
                <input type="text" placeholder="Email">
            <label>Username: </label>
                <input type="text" placeholder="Username">
            <label>Password: </label>
                <input type="password" placeholder="Password">
            <label>Confirm Password: </label>
                <input type="password" placeholder="Confirm Password">
            <select name="acc_type" id= "type">
                <option value="default">Select User Type</option>
                <option value="buyer">Buyer</option>
                <option value="seller">Seller</option>
            </select>
            <button>Register!</button>
            <p>Already have an account? <a href="#">Log in</a></p>
        </form>
    </body>
</html>
